---
import { getCollection } from 'astro:content';
import ServiceLink from './ServiceLink.astro';

const services = await getCollection('services');
---

<section class='mt-5 p-3 flex flex-col items-center'>
  <div class='flex flex-wrap gap-6 justify-center max-w-[900px]'>
    {
      services.map(({ data: { image, title }, slug }) => (
        <ServiceLink title={title} imgUrl={image} slug={slug} />
      ))
    }
  </div>
</section>
