---
import PageTitle from '@/components/PageTitle.astro';
import ServicesInfo from '@/components/services/ServicesInfo.astro';
import ServLines from '@/components/services/ServLines.astro';
import SecTitle from '@/components/ui/sec-title';
import Layout from '@/layouts/Layout.astro';
---

<Layout title='Servicios'>
  <PageTitle>Servicios</PageTitle>
  <div class='py-20 bg-about-us bg-cover relative'>
    <div class='absolute z-10 bg-bright/60 size-full inset-0'></div>
    <SecTitle className='relative z-20'>
      Servicios de Sistemas contra Incendio
    </SecTitle>
  </div>
  <ServLines />
  <section>
    <SecTitle
      className='text-bright text-center overflow-visible relative after:h-1.5 after:w-32 after:absolute after:top-10 after:left-1/2 after:-translate-x-1/2 after:bg-bright mb-10 mt-14 text-4xl lg:text-5xl lg:after:top-12'
    >
      Realizamos
    </SecTitle>
    <ServicesInfo
      title='Diseño de Sistemas Contra Incendio'
      imgUrl='/img/ser1.webp'
    />
    <ServicesInfo
      title='Instalación de Sistemas contra Incendio'
      imgUrl='/img/ser2.webp'
      reverse
    />
    <ServicesInfo
      title='IPM - Inspección, Prueba y Mantenimiento de Sistemas Contra Incendio'
      imgUrl='/img/ser3.webp'
    />
  </section>
</Layout>
