---
import SideNav from '@components/side-nav';
import ContactInfo from './contact-info';
import MainNav from './MainNav.astro';
---

<header class='fixed w-dvw z-30 backdrop-blur-sm'>
  <ContactInfo client:load />
  <div
    class='animate flex justify-center items-center bg-white p-1 h-24
      lg:px-12'
  >
    <SideNav client:load />
    <a class='' href='/'>
      <img class='h-20 lg:h-24' src='/full-logo.webp' alt='SICSAS logo' />
    </a>
    <div class='hidden lg:inline-block flex-1'></div>
    <MainNav class='flex-1' client:load />
  </div>
</header>

<style>
  .animate {
    transform-origin: top;
    animation-name: shrink-h;
    animation-timeline: scroll();
    animation-range-end: 300px;
    animation-fill-mode: forwards;
  }

  @keyframes shrink-h {
    to {
      background-color: rgba(255, 255, 255, 0.6);
      height: 3rem;
    }
  }

  a {
    transform-origin: top;
    animation-name: move-img;
    animation-timeline: scroll();
    animation-range-end: 300px;
    animation-fill-mode: forwards;
  }

  @keyframes move-img {
    from {
      scale: 1;
    }

    to {
      scale: 0.6;
      transform: translate(100%, 30%);
    }
  }

  @media (min-width: 1024px) {
    @keyframes move-img {
      from {
        scale: 1;
      }

      to {
        scale: 0.6;
        transform: translate(-60%, 30%);
      }
    }
  }
</style>
