---
import SideNav from './SideNav';
---

<header class='flex justify-center relative'>
  <SideNav client:load />
  <a href='/'>
    <img class='h-24' src='/full-logo.png' alt='SICSAS logo' />
  </a>
</header>
