---
import SideNav from './side-nav';
---

<header
  class='flex justify-center fixed w-dvw z-30 bg-white p-1 backdrop-blur-sm h-24'
>
  <SideNav client:load />
  <a href='/'>
    <img class='h-20 lg:h-36' src='/full-logo.webp' alt='SICSAS logo' />
  </a>
</header>

<style>
  header {
    transform-origin: top;
    animation-name: shrink-h;
    animation-timeline: scroll();
    animation-range-end: 300px;
    animation-fill-mode: forwards;
  }

  @keyframes shrink-h {
    to {
      background-color: rgba(255, 255, 255, 0.6);
      height: 3rem;
    }
  }

  img {
    transform-origin: top;
    animation-name: move-img;
    animation-timeline: scroll();
    animation-range-end: 300px;
    animation-fill-mode: forwards;
  }

  @keyframes move-img {
    from {
      scale: 1;
    }

    to {
      scale: 0.6;
      transform: translateX(100%);
    }
  }
</style>
