---
import PlaceholderIcon from '../icons/placeholder';
import CompromiseIcon from '../icons/compromise';
import HonestIcon from '../icons/honest';
import ExcellencyIcon from '../icons/excellency';
import ResponsIcon from '../icons/respon';
import ServIcon from '../icons/serv';
import EnviroIcon from '../icons/enviro';
import ImproveIcon from '../icons/improve';
import SecTitle from '../ui/sec-title';
import ValueIcon from '@components/about-us/ValueIcon.astro';

const VALS = [
  {
    title: 'Compromiso',
    icon: CompromiseIcon,
  },
  {
    title: 'Honestidad',
    icon: HonestIcon,
  },
  {
    title: 'Excelencia',
    icon: ExcellencyIcon,
  },
  {
    title: 'Responsabilidad',
    icon: ResponsIcon,
  },
  {
    title: 'Actitud de Servicio',
    icon: ServIcon,
  },
  {
    title: 'Respeto por la sociedad y el medio ambiente',
    icon: EnviroIcon,
  },
  {
    title: 'Mejora continua',
    icon: ImproveIcon,
  },
];
---

<section class='mt-36 mb-12'>
  <SecTitle
    className='text-bright text-center overflow-visible relative after:h-1.5 after:w-32 after:absolute after:top-9 after:left-1/2 after:-translate-x-1/2 after:bg-bright lg:after:top-10 mb-16'
  >
    Valores Corporativos
  </SecTitle>
  <div class='flex justify-center'>
    <div class='max-w-[800px] p-6'>
      <div class='inline-flex flex-wrap gap-5 justify-center'>
        {
          VALS.map(({ title, icon: Icon }) => (
            <ValueIcon title={title}>
              <Icon />
            </ValueIcon>
          ))
        }
      </div>
    </div>
  </div>
</section>
