---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div
  class='border rouded-sm p-5 flex flex-col justify-between border-detail hover:border-bright transition-colors h-48 w-40'
>
  <span class='mx-auto text-bright text-7xl'>
    <slot />
  </span>
  <p class='text-bright text-center'>{title}</p>
</div>
