---
import Layout from './Layout.astro';

interface Props {
  title: string;
  image: string;
  slug: string;
}

const { title, image, slug } = Astro.props;
---

<Layout title={title}>
  <div>
    <img
      class='aspect-video h-48 object-contain rounded-sm border-detail border mx-auto mb-3'
      src={image}
      alt={title}
      transition:name={slug + 'img'}
    />
    <h1
      class='text-center text-xl text-white py-5 bg-bright font-bold'
      transition:name={slug + 'title'}
    >
      {title}
    </h1>
    <article
      class='prose prose-headings:text-dark prose-li:marker:text-dark prose-strong:text-dark p-5 mt-2'
    >
      <slot />
    </article>
  </div>
</Layout>
